<h1 style="text-align: center; 
            font-family: Arial, Helvetica, sans-serif;
            ">Confirmar tu cuenta</h1>

<p style="font-family: Arial, Helvetica, sans-serif;">Hola, Confirma tu cuenta para acceder a Meeti:</p>

<a style="font-family: Arial, Helvetica, sans-serif;
            display: block;
            padding: 1rem;
            color: white;
            background-color: #00C897;
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;" href="<%= url %>">Confirmar tu Cuenta</a>

<p style="font-family: Arial, Helvetica, sans-serif;">Sino puedes acceder a este enlace, visita : <%= url %></p>
<p style="font-family: Arial, Helvetica, sans-serif;">Si no solicitaste este email puedes ignorarlo</p>